{{>dashhead}}




            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" id="user_search">


                        <div class="col-6" id="catMsg">
                            <h5 style="color: #4CAF50;">{{productUpdated}}</h5>
                            <h5 id="noResultsFound">no results found!!</h5>

                        </div>

                        <div class="col-6" id="search">
                            <input type="search" placeholder="Search" aria-label="Search" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2 style="text-align: center; position: relative; top: 5rem;">welcome to yara dashboard</h2>


</div>




{{>dashfoot}}