{{>loginheader}}

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<div class="container-fluid">
    <div class="container">
        <div class="d-flex wrapper justify-content-center">
            <div class="row w-100">

                <div class="col-md-6 col-lg-6 col-12  adminBackImage">



                </div>
                
                  
                <div class="col-md-6 col-lg-6 col-12">

                    <div class="adminPage">
                        <h1>Admin login🔐</h1>
                        <form action="/admin/login" method="post" id="admin">
                            <input type="email" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password">
                            <div class="recover">
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="logout_alert" role="alert">
                            </div>
                            <div class="invalid_alert" role="alert">
                                {{invalid}}
                            </div>
                            <button type="submit" class="adminLoginBtn" id="auth_button" value="login">Log in</button>
                        </form>

                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>





{{>signupfooter}}