@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.swal2-popup {
  font-size: 0.8rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

thead{
  background-color: #ef7367; 
  color: white;
}

tbody{
  background-color: #f4f4f4;
}

.navbar {
  border-bottom: 1px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #fee2df ;
  cursor: pointer;
}

#logoutBtn{
  margin-top: 6px;
}

#user_add{
  display: none;
}

#user_update{
  display: none;
}

#orderUpdateDiv{
  display: none;
}

#userModel{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#userModel input{
  margin-left: 40px;
  width: 16%;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
}

#updateModel{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#updateModel input{
  margin-left: 40px;
  width: 16%;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
}

#orderUpdateModel{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}


#orderUpdateModel input{
  margin-left: 40px;
  width: 40%;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
}


#saveUser{
  margin-left: 20px;
}

#user_search{
  display: flex;
  justify-content: end;
}

#catMsg{
  text-align: start;
  padding-left: 7.4rem;
}

#search{
  text-align: end;
  padding-right: 6.5rem;
}



#user_search input{
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2px 6px;
}


.row {
  margin-right: calc(0 * var(--bs-gutter-x));
}

.adminpages ul {
  display: flex;
  justify-content: start;
  list-style-type: none;
  margin: 1rem;
}

.adminpages ul {
  margin-left: 4.5rem;
}

.adminpages li {
  padding-left: 1.5rem;
}

.adminroutes a {
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
}

#addCategory h1 {
  padding-left: 1rem;
  padding-top: 2rem;
}

.adminroutes .active a {
  color: black;
  /* Add any additional styles you want for the active link */
}

.adminroutes h2{
  font-size: 22pt;
  font-weight: 600;
}

/* Responsive adjustments */

@media (max-width: 1144px) {
  .adminpages ul {
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .adminpages li {
    width: 33.33%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767.98px) {
  .adminpages ul {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .adminpages li {
    width: 50%;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 575.98px) {
  .adminpages li {
    width: 100%;
  }
}

#noResultsFound{
  color: red; 
  display: none;
  
}

.description-Cell {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name-Cell {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-container {
  max-height: 600px; 
  overflow-y: auto;
}

.new-brand{
  background-color: #0d6efd;
  color: white;
}




