* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #30433D;
}

.wrapper h1 {
    font-weight: 700;
}

.wrapper {
    width: 50rem;
    height: 35rem;
    margin: 7% auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
    background-size: cover;
}

#forgot {
    position: relative;
    left: -8rem;
    bottom: 0.3rem;
    font-size: 9pt;
}

.loginBackImage {
    background-image: url(/image/admin.png);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.loginPage {
    margin-top: 13%;
    padding-top: 25%;
}

h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input {
    width: 19rem;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

#auth_button {
    font-size: 1rem;
    margin-top: 1.3rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 11rem;
    color: #e5e1ce;
    background-color: #598683;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#auth_button:hover {
    box-shadow: inset 0 0 5px rgb(224, 225, 205), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
}

input:focus {
    border: 1px solid #30433D;
}

.member {
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 3rem 0 0;
}

.recover a {
    text-decoration: none;
    color: #636363;
}

#email-error {
    position: relative;
    left: 5rem;
    top: -13px;
    color: red;
    font-size: 8pt;
}

#password-error {
    position: relative;
    top: -4px;
    color: red;
    font-size: 8pt;
}

#fillout2 {
    color: red;
    font-size: 0.7rem;
    position: relative;
    bottom: 18px;
    left: -92px;
    display: none;
}

.invalid_alert {
    color: red;
    font-size: 0.7rem;
    position: relative;
    top: 10px;
}

.logout_alert {
    color: #028137;
    font-size: 0.8rem;
    position: relative;
    top: 10px;
}

/* Styles for smaller screens */
@media (max-width: 576px) {
    .wrapper {
      width: 100%;
      height: auto;
      margin: 10% auto;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px 10px 10px 10px;
    }
    .loginPage{
        padding-top: 0%;
        
    }
    .loginBackImage {
      display: block;
      width: 100%;
      height: 200px; /* Adjust the height as needed */
      border-radius: 10px 10px 0 0;
      background-position: 11%;
    }
    
    .col-md-6 {
      padding: 1rem;
    }
    
    h1 {
      font-size: 1.5rem;
    }
    
    form input {
      width: 90%;
      margin-bottom: 1rem;
    }
    
    #auth_button {
      width: 60%;
      margin: 0;
      
    }
    
    .member {
      font-size: 0.7rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .recover {
      font-size: 0.7rem;
      margin: 0.3rem 0 1rem;
    }
    
  
    .invalid_alert,
    .logout_alert {
      font-size: 0.7rem;
      position: relative;
    top: -9px;
    }

    #email-error{
      font-size: 0.7rem;
      margin-right: 38px;
    }

    /* #fillout2{
      text-align: end;
    margin: 0;
    position: relative;
    top: -13px;
    left: -84px;
    font-size: 0.7rem;
    } */

    #password-error{
      font-size: 0.7rem;
      position: relative;
      top: -7px;
      left: 54px;
      color: red;
    }

  }
  
  /* Styles for smaller smartphone screens */
  @media (max-width: 375px) {
    
    
    .wrapper {
      margin: 10% 0;
    }
    
    .loginBackImage {
      height: 150px; /* Adjust the height as needed */
    }
    
    .col-md-6 {
      padding: 0.5rem;
    }
    
    h1 {
      font-size: 1.3rem;
    }
    
    form input {
      padding: 10px 15px;
    }
    
    #auth_button {
      margin-top: 1.3rem;
    }
    
    .member {
      font-size: 0.6rem;
      margin-top: 0.8rem;
    }
    
    .recover {
      font-size: 0.6rem;
      margin: 0.3rem 0 0.8rem;
    }
    
    #email-error,
    #password-error,
    #fillout2,
    .invalid_alert,
    .logout_alert {
      font-size: 0.6rem;
    }
  }

  
  