{{>signupheader}}

<!-- Preloader -->
<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div> 
<!-- end of preloader -->


<div class="container-fluid">
    <div class="container">
        <div class="d-flex wrapper justify-content-center">

            <div class="row w-100">
                <div class="col-md-6 otpPageImage">

                </div>

                <div class="col-md-6">

                    <div class="otpPage">
                        <h1>Enter the OTP</h1>
                        <p>Please enter the one-time password<br>sent to your registered email</p>
                        <form action="/verifyForgotOtp" method="post" id="otpEnter">
                            <input type="number" placeholder="Enter OTP here" id="otp" name="otp" />
                            <div class="recover"  id="resend_link" style="display: none;">
                                <a href="/resendForgotPasswordotp">Resend OTP</a>
                            </div>
                            <p id="fillout2">Please enter the OTP</p>

                            <div class="logout_alert" role="alert">

                            </div>
                            <div class="invalid_alert" role="alert">
                                {{invalidOtp}}
                            </div>
                            <button type="submit" id="auth_button">Verify</button>
                        </form>
                        <div id="countdown" class="text-center mt-3" style="color: grey;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  const countdownElem = document.getElementById("countdown");
  let countdown;
  let countdownInterval;

  function startTimer() {
    countdown = localStorage.getItem("countdown") || 60;
    countdownElem.textContent = `00:${countdown}`;

    countdownInterval = setInterval(() => {
      countdown--;
      countdownElem.textContent = `00:${countdown}`;
      if (countdown === 0) {
        clearInterval(countdownInterval);
        countdownElem.style.display = "none";
        const resendLink = document.getElementById("resend_link");
        resendLink.style.display = "block";
        localStorage.removeItem("countdown");
      } else {
        localStorage.setItem("countdown", countdown);
      }
    }, 1000);
  }

  // Check if countdown should be started
  const startCountdown = {{ countdown }}; // Access the countdown value passed from the controller

  if (startCountdown) {
    window.addEventListener("load", startTimer); // Start the timer when the page is loaded
  }
</script>




{{>signupfooter}}